.CardQuote{
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.Edit,
.Delete{
    background: #cccccc;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
}
